.layout {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
}

.sidebar {
    grid-column: span 3 / span 3;
}

.content {
    grid-column: span 9 / span 9;
    border: solid 1px rgb(229 231 235);
    padding: 3rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        grid-column: span 4 / span 4;
    }

    .content {
        grid-column: span 8 / span 8;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .sidebar {
        grid-column: span 6 / span 6;
    }

    .content {
        grid-column: span 6 / span 6;
        padding: 2rem 1rem;
    }
}

.sidebar {
    .sidebar-nav {
        .sidebar-nav-header {
            font-size: 0.8rem;
            font-weight: 700;
            margin: 0 0 0.5rem 0;

            >h2 {
                font: inherit;
            }
        }

        ul {
            margin-bottom: 2rem;
            list-style-type: none;

            li {
                .sidebar-nav-link {
                    position: relative;
                    padding: 0.5rem;
                    margin-bottom: 0.5rem;
                    display: flex;
                    align-items: center;
                    column-gap: 0.75rem;
                    font-size: 0.875rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: #272727;
                    transition: 0.12s ease-in-out;
                }

                .sidebar-nav-link:hover {
                    background-color: rgba(24, 98, 31, 0.1);
                }

                .sidebar-nav-link.active {
                    background-color: rgba(24, 98, 31, 0.1);

                    &::before {
                        border-radius: 4px;
                        content: "";
                        width: 4px;
                        height: 100%;
                        background-color: #18621f;
                        position: absolute;
                        left: -8px;
                    }
                }
            }
        }
    }
}