.header {
  background-color: #1a1a1a;
  color: #fff;

  .heading-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    h1 {
      font-size: 2rem;
      font-weight: 600;
      font-family: "Libre Baskerville", serif;
      margin-bottom: 1rem;
    }
  }
}